*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}

.App {
  position: fixed;
  top:0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#overlayVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

div.ui.segment{
  background: rgb(255,255,255,0.5)
}

#change.ui.segment{
  background: rgb(255,255,255,0.4);
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
}